.emote-happy {
  width: 100px;
  height: 100px;
  background-color: #78c800;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.emote-face-happy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emote-eyes-happy {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 4px;
}

.eye-happy {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.emote-mouth-happy {
  width: 50%;
  height: 7px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  margin-top: 10px;
}

.emote-sad {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.emote-face-sad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emote-eyes-sad {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 4px;
}

.eye-sad {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.emote-mouth-sad {
  width: 50%;
  height: 7px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
}
