* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.home-header{
    height: 20vh;
}

.home-main{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-main-content{
    width: 100%;
    background-color: aliceblue;
}

.home-button{
    display: block;
    margin: 10px;
}

.home-row{
    display: flex;
    justify-content: center;
}

.home-button{
    display: block;
    margin: 20px;
}

.home-button-account{
    background-color: aqua;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    margin-bottom: 0%;
}

.home-button-noaccount{
    background-color: aqua;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 15px;
}
