.home-header {
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
}

.home-header-title {
    width: 10%;
}

.home-header-content {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-header-details {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

/* .home-header-details-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    padding: 5%;
    background-color: white;
}

.home-header-details-signup-a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px;
}

.home-header-details-signup-a p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
} */

.home-header-details-login {
    width: 50%;
    height: 50%;
}

.home-header-details-login button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.home-header-details-login button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.home-header-details-login button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.home-header-details-singup {
    width: 50%;
    height: 50%;
}

.home-header-details-signup button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.home-header-details-signup button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.home-header-details-signup button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}
      


/* .home-header-details-login-a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px;
}

.home-header-details-login-a p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
} */

.home-main {
    height: 84vh;
}


.home-footer {
    height: 10vh;
}

#home-main-content {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-main-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-main-title {
    text-align: center;
}

.home-main-container-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-main-languages {
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
    margin: 10px;
    padding: 10px; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 25px; 
    width: 150px;
}

.home-main-languages img {
    width: 30%;
    margin-right: 10%; 
    height: auto; 
}

.home-main-languages p {
    margin: 0;
}

#home-main-buttons {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.home-button {
    display: block;
    margin: 10px;
    background-color: grey;
    padding: 1%;
    margin: 1%;
}

.home-row {
    display: flex;
    justify-content: center;
}

.home-button {
    display: block;
    margin: 20px;
}

.home-button-account {
    background-color: aqua;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    margin-bottom: 0%;
}

.home-button-noaccount {
    background-color: aqua;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 15px;
}
