.sidebar-sidebar-open {
    width: 240px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    height: 100vh;
    padding: 0 30px;
    left: 0;
    transition: all 0.3s;
    z-index: 1000;
}

.sidebar-sidebar-closed {
  width: 240px;
  background-color:  var(--primary-color);
  position: fixed;
  top: 0;
  height: 90vh;
  padding: 0 30px;
  transition: all 2s;
  left: -100%;
  z-index: 1000;
}

.sidebar-menuToggle {
    max-height: 20px;
}

.sidebar-menuToggle button {
    height: 10px;
    position: fixed;
    margin-top: 1%;
    margin-left: 1%;
    top: 0;
    left: 0;
    background: none;
    border: none;
    z-index: 10000;
}

#sidebar-checkbox {
    display: none;
}
  
.sidebar-toggle {
    position: relative;
    width: 25px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: 34px;
}

@media screen and (min-width: 768px) {
    .sidebar-toggle{
        width: 40px;
    }
}
  
.sidebar-bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #7b52b9;
    background: #020202;
    color: inherit;
    opacity: 1;
    transition: none 0.1s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}
  
  /***** Tornado Animation *****/
  
.sidebar-bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s) * .6;
}
  
.sidebar-bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity,transform;
    transition-delay: calc(0s + 0.35s * .3);
}
  
.sidebar-bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
}
  
#sidebar-checkbox:checked + .sidebar-toggle .sidebar-bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
}
  
#sidebar-checkbox:checked + .sidebar-toggle .sidebar-bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
}
  
#sidebar-checkbox:checked + .sidebar-toggle .sidebar-bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
}

.sidebar-content {
    height: 80%;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-content-options a {
    color: white;
}

.sidebar-content-options a:hover,
.sidebar-content-options a:focus {
    transform: scale(1.3);
    color: rgb(113, 81, 143);
    background-color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 15px;
}
  